<?xml version="1.0" encoding="UTF-8"?>



<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="ans1" class="com.example.demo.Answer">
		<constructor-arg value="01" />
		<constructor-arg value="Java is programming language" />
		<constructor-arg value="kripa" />
	</bean>

	<bean id="ans2" class="com.example.demo.Answer">
		<constructor-arg value="02" />
		<constructor-arg value="Java is plateform indipendent" />
		<constructor-arg value="Utpal" />
	</bean>

	<bean id="Que" class="com.example.demo.Question">
		<constructor-arg value="101" />
		<constructor-arg value="What is java" />
		<constructor-arg>
			<list>
				<ref bean="ans1" />
				<ref bean="ans2" />
			</list>
		</constructor-arg>
	</bean>

</beans>